# Django Settings
SECRET_KEY=django-insecure-dev-key-change-in-production-8xk2m3
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Local PostgreSQL Configuration
DATABASE_NAME=school_admin_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5433

# DATABASE_URL=postgresql://postgres.pbhdliyeozgtflqpocgz:YOUR_PASSWORD@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

